<!DOCTYPE html>

<head>
    <title>가흔이네 블로그</title>
</head>

<body>
    <h1>.﹒✩✧✩GAHEUN's blog✩✧✩﹒.</h1>
    <hr>
    <p>가흔이네 블로그 온거 <strong>대환영</strong></p>

    <form>
        <input type="text" placeholder="아이디">
        <input type="password" placeholder="비밀번호">
        <input type="button" value="로그인">
    </form>

    <h3>글 목록</h3>
    <ul>
        <li><a href="#poetry" style="color:lightpink">예쁜 시 모음</a></li>
        <li><a href="#diary" style="color:hotpink">오늘의 일기</a></li>
        <li><a href="#photo" style="color:deeppink;">내가 좋아하는 사진들</a></li>
    </ul>

    <h3 id="poetry">예쁜 시 모음</h3>
    <ol>
        <li>풀꽃 - 나태주</li>
        <li>별 헤는 밤 - 윤동주</li>
        <li>꽃 - 김춘수</li>
    </ol>

    <h3 id="diary">오늘의 일기</h3>
    <div>
        <div style="font-weight: bold;">2024년 3월 14일 목요일</div>
        <div>오늘은 잠이 온다. 집에 가고 싶다.</div>
        <div style="font-weight: bold;">2024년 3월 16일 토요일</div>
        <div>하루종일 침대에 누워있었다. 행복하다.</div>
        <div style="font-weight: bold;">2024년 3월 18일 월요일</div>
        <div>공부를 했다. 힘들다.</div>
    </div>

    <h3 id="photo">내가 좋아하는 사진들</h3>
    <table>
        <td><img src="./cherry.jpeg" alt="와대박" style="width:300px;height:400px;"></td>
        <td><img src="./pink_girl.jpeg" alt="헐대박" style="width:300px;height:400px;"></td>
        <td><img src="./money_girl.jpeg" alt="짱대박" style="width:300px;height:400px;"></td>
    </table>
</body>

</html>